* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.=======================GLOBAL CSS======================
*/

html,
body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Rubik Wet Paint', cursive; */
}

:root {
    /*<=========Theam Color========>*/
    --primary-color: #1890ff;
    /* royal blue */
    --secondry-color: #ff0084;
    /*dark-orange*/
    --ternary-color: #ff0084;
    /* dark-pink */
    --fourth-color: #2ddb2d;
    /* light green */
    --fifth-color: rgb(255, 0, 0);

    --yellow: #ffd700;
    --text-color: white;

    /*<=========BCG========>*/
    --bgc-dark-main: #151515;
    --bgc-dark-asid: #1d1d1d;

    --bgc-light-main: #f3f4fd;
    --bgc-light-asid: #fdfbff;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*
.=======================COMMAN CSS======================
*/

.conic-border::after,
.conic-border::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: all .8s ease;
    border-color: var(--secondry-color);

}

.conic-border::after {
    right: 0;
    top: 0;
}

.conic-border::before {
    left: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.section-heading {
    display: inline-block;
    position: relative;
    top: 0.5rem;
}

.section-heading-inner {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: var(--secondry-color);
}

.section-heading-inner::after,
.section-heading-inner::before {
    content: '';
    width: 2.5rem;
    height: 0;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 3px solid var(--fourth-color);
    bottom: -5px;
    left: 0;
}

.section-heading-inner::after {
    width: 2rem;
    bottom: 0;
}





/*
.=======================SEPARATE CSS======================
*/
.main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside {
    width: 300px;
    height: 100vh;
    background-color: var(--bgc-dark-asid);

    display: grid;
    place-items: center;
}

.aside .logo a {
    color: var(--secondry-color);
    font-weight: 700;
    font-size: 20px;
    padding: 0 1rem;
}

.aside .logo {
    position: relative;
    width: fit-content;
    height: fit-content
}

.aside .conic-border::after,
.aside .conic-border::before {
    width: 30%;
    height: 100%;
}



.aside .logo a span {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    /* color: var(--ternary-color); */
}


.aside-navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-navbar li {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.aside-navbar li a {
    color: var(--text-color);
}

.nav-link.active {
    color: var(--secondry-color);
    /* border-bottom: 1px solid var(--fourth-color); */
}

.nav-link.active .fa {
    color: var(--secondry-color);
}

/*=======================main-container======================*/
.main-container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--bgc-dark-main);
    color: var(--text-color);
}

.page {
    /* border: 3px solid rgb(20, 191, 206); */
    height: 100%;
    width: 100%;
    padding: 1rem;
    position: absolute;
    transition: 1s;

}

/*=======================Home page======================*/
.home-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

#home-right-img {
    position: relative;
    height: 250px;
    margin: 1rem;
}

.home-right-inner {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.home-right-inner .conic-border::after,
.home-right-inner .conic-border::before {
    width: 50%;
    height: 40%;
}

.home-left {
    width: 40%;
    height: 250px;

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 25px;
}

.home-left h2 {
    font-size: 25px;
    font-weight: 400;
}

.home-left span {
    font-size: 28px;
    color: var(--secondry-color);
}

/*=======================Theam======================*/
.theam {
    height: 30px;
    width: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.theam button {
    border: none;
    font-size: 18px;
    background-color: transparent;
    width: 35px;
    color: var(--bgc-light-main);
}

.colorsTheam {
    position: fixed;
    top: 10px;
    right: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    height: fit-content;
}

.colors {
    height: 30px;
    width: 150px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.colors .dark-pink {
    background-color: #ff0084;
}

.colors .red {
    background-color: red;
}

.colors .orange {
    background-color: #f66b04;
}

.colors .green {
    background-color: #2ddb2d;
}

.fa {
    /* for all fa class */
    color: var(--text-color);
}