* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.=======================GLOBAL CSS======================
*/

html,
body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Rubik Wet Paint', cursive; */
}

:root {
    /*<=========Theam Color========>*/
    --primaryColor: #1890ff;
    --dark-orange: #f66b04;
    --dark-pink: #ff0084;
    --red: #ff0000;
    --yellow: #ffd700;
    --green: #2ddb2d;
    --text-color-white: white;

    /*<=========BCG========>*/
    --bgc-dark-main: #151515;
    --bgc-light-main: #f3f4fd;

    --bgc-dark-asid: #1d1d1d;
    --bgc-light-asid: #fdfbff;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*
.=======================COMMAN CSS======================
*/

.conic-border::after,
.conic-border::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: all .8s ease;
    border-color: #f66b04;

}

.conic-border::after {
    right: 0;
    top: 0;
}

.conic-border::before {
    left: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.section-heading {
    display: inline-block;
    position: relative;
    top: 0.5rem;
}

.section-heading-inner {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: var(--dark-orange);
}

.section-heading-inner::after,
.section-heading-inner::before {
    content: '';
    width: 2.5rem;
    height: 0;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 3px solid var(--green);
    bottom: -5px;
    left: 0;
}

.section-heading-inner::after {
    width: 2rem;
    bottom: 0;
}





/*
.=======================SEPARATE CSS======================
*/
.main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside {
    width: 300px;
    height: 100vh;
    background-color: var(--bgc-dark-asid);

    display: grid;
    place-items: center;
}

.aside .logo a {
    color: var(--dark-orange);
    font-weight: 700;
    font-size: 20px;
    padding: 0 1rem;
}

.aside .logo {
    position: relative;
    width: fit-content;
    height: fit-content
}

.aside .conic-border::after,
.aside .conic-border::before {
    width: 30%;
    height: 100%;
}



.aside .logo a span {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: var(--dark-pink);
}


.aside-navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-navbar li {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.aside-navbar li a {
    color: var(--text-color-white);
}

.nav-link.active {
    color: var(--dark-orange);
    /* border-bottom: 1px solid var(--green); */
}

/*=======================main-container======================*/
.main-container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--bgc-dark-main);
}

.page {
    /* border: 3px solid rgb(20, 191, 206); */
    height: 100%;
    width: 100%;
    padding: 1rem;
    position: absolute;
    transition: 1s;
    color: #ffffff;
}

/*=======================Home page======================*/
.home-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

#home-right-img {
    position: relative;
    height: 250px;
    margin: 1rem;
}

.home-right-inner {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.home-right-inner .conic-border::after,
.home-right-inner .conic-border::before {
    width: 50%;
    height: 40%;
}

.home-left {
    width: 40%;
    height: 250px;

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 25px;
}

.home-left h2 {
    font-size: 25px;
    font-weight: 400;
}

.home-left span {
    font-size: 28px;
    color: var(--dark-orange);
}