* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.=======================GLOBAL CSS======================
*/

html,
body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Rubik Wet Paint', cursive; */
}

:root {
    /*<=========Theam Color========>*/
    --primary-color: #1890ff;
    /* royal blue */
    --secondry-color: #ff0084;
    /*dark-orange*/
    --text-color: white;

    /*<=========BCG========>*/
    --bgc-dark-main: #151515;
    --bgc-dark-asid: #1d1d1d;

    --bgc-light-main: #f3f4fd;
    --bgc-light-asid: #fdfbff;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*
.=======================COMMAN CSS======================
*/

.conic-border::after,
.conic-border::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: all .8s ease;
    border-color: var(--secondry-color);

}

.conic-border::after {
    right: 0;
    top: 0;
}

.conic-border::before {
    left: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.section-heading {
    display: inline-block;
    position: relative;
    top: 0.5rem;
}

.section-heading-inner {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: var(--secondry-color);
}

.section-heading-inner::after,
.section-heading-inner::before {
    content: '';
    width: 2.5rem;
    height: 0;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 3px solid var(--fourth-color);
    bottom: -5px;
    left: 0;
}

.section-heading-inner::after {
    width: 2rem;
    bottom: 0;
}

/* .Grid-Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    place-items: center;
    margin: 1rem auto;
} */

.btn {
    border: none;
    background-color: var(--secondry-color);
    padding: 5px;
    font-size: 20px;
    margin: .8rem;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    color: #9fa19d;

}

/*
.=======================SEPARATE CSS======================
*/
.main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside {
    width: 300px;
    height: 100vh;
    background-color: var(--bgc-dark-asid);

    display: grid;
    place-items: center;
}

.aside .logo a {
    font-weight: 700;
    padding: 0 1rem;
    color: var(--secondry-color);
}

.aside .logo {
    font-size: 20px;
    position: relative;
    width: fit-content;
    height: fit-content;
    color: var(--secondry-color);

}

.aside .conic-border::after,
.aside .conic-border::before {
    width: 30%;
    height: 100%;
}



.aside .logo a span {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
}


.aside-navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-navbar li {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.aside-navbar li a {
    color: var(--text-color);
}

.nav-link.active {
    color: var(--secondry-color);
    /* border-bottom: 1px solid var(--fourth-color); */
}

.nav-link.active .fa {
    color: var(--secondry-color);
}

/*=======================main-container======================*/
.main-container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--bgc-dark-main);
    color: var(--text-color);
    overflow-x: hidden;
}

.page {
    height: 100vh;
    width: 100%;
    padding: 1rem;
    position: absolute;
    transition: 1s;
}

/*=======================Home page======================*/


.home-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

#home-right-img {
    position: relative;
    height: 250px;
    margin: 1rem;
}

.home-right-inner {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.home-right-inner .conic-border::after,
.home-right-inner .conic-border::before {
    width: 50%;
    height: 40%;
}

.home-left {
    width: 40%;
    height: 250px;

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 25px;
}

.home-left h2 {
    font-size: 25px;
    font-weight: 400;
}

.home-left span {
    font-size: 28px;
    color: var(--secondry-color);
}

/*=======================Theam======================*/
.theam {
    height: 30px;
    width: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.theam button {
    border: none;
    font-size: 18px;
    background-color: transparent;
    width: 35px;
    color: var(--bgc-light-main);
}

.colorsTheam {
    position: fixed;
    top: 10px;
    right: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    height: fit-content;
}

.colors {
    height: 30px;
    width: 150px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.colors .dark-pink {
    background-color: #ff0084;
}

.colors .red {
    background-color: red;
}

.colors .orange {
    background-color: #f66b04;
}

.colors .green {
    background-color: #2ddb2d;
}

.fa {
    /* for all fa class */
    color: var(--text-color);
}

/*=======================About Section Design======================*/

.about-section1 p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-section1 span {
    color: var(--secondry-color);
    font-family: 'Allura', cursive;
    font-size: 2rem;
}

.about-inner {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    font-size: 19px;
    text-align: justify;
    padding: 0 1rem;
}


.about-section2,
.about-section3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-inner-me {
    grid-column-start: 1;
    grid-column-end: 3;

    font-size: 18px;
    text-align: justify;
}

.skills {
    width: 300px;
}

.skill {
    width: 100%;
    text-align: center;
    margin: .8rem;

    height: fit-content;
    text-align: start;
    position: relative;
}

.skill-inner {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    overflow: hidden;
}

.html-css {
    width: 99%;
    background-color: var(--secondry-color);
    height: 8px;
}

.js,
.bootstrap {
    width: 90%;
    height: 8px;
    background-color: var(--secondry-color);
}

.c-cpp {
    width: 95%;
    height: 8px;
    background-color: var(--secondry-color);
}

.java {
    width: 80%;
    height: 8px;
    background-color: var(--secondry-color);
}

.dsa {
    width: 75%;
    height: 8px;
    background-color: var(--secondry-color);
}


.about-inner-Skills {
    margin-top: 5rem;
}

.about-inner-personalInfo {
    line-height: 2.5rem;
}

.about-inner-personalInfo span {
    color: gray;
}

.about-section3 {
    padding: 2rem 0;
}

/* List of education section design */
.list-of-education {
    border-left: 1px solid var(--secondry-color);
    padding-left: 12.5px;
    position: relative;

}

.edu-item {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    color: var(--text-color);

}

.edu-item::before {
    content: '';
    width: .6rem;
    height: .6rem;
    box-sizing: border-box;
    position: absolute;
    left: -.3rem;
    border-radius: 50%;
    background-color: var(--secondry-color);
    margin-top: 0.5rem;
}

.Session {
    font-size: 10px;
}

.course {
    font-size: 18px;
    font-weight: 500;
}

.NameOfinstitute,
.TechnologiesUsed {
    font-size: 14px;
    color: gray;
}